@import url(https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Noto+Sans:wght@200&family=Nunito+Sans:opsz,wght@6..12,200&family=Poppins:wght@200&family=Roboto:wght@100&family=Signika+Negative:wght@300&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.navButton {
    display: none;
    width: 100%;
}

.navButton img {
    width: 25px;
    cursor: pointer;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #a8a9a9;
}

.sidebar > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.sidebar > .header button {
    padding: 0 8px;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
}

.sidebar > .header img {
    width: 25px;
    cursor: pointer;
    display: none;
}

.sidebar > .nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar > .nav > button,
.sidebar > .projects > .projectsContainer > button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: none;
    border: none;
    padding: 8px;
    gap: 8px;
}

.sidebar > .nav > button:hover,
.sidebar > .projects > .projectsContainer > button:hover {
    background-color: #cdcece;
}

.sidebar > .nav > button > img,
.sidebar > .projects > .projectsContainer > button > img {
    width: 20px;
}

.sidebar > .projects > button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: none;
    border: none;
    padding: 8px;
    gap: 8px;
    margin-bottom: 5px;
}

.sidebar > .projects > button:hover {
    background-color: #cdcece;
}

.sidebar > .projects > button > img {
    width: 20px;
}

.sidebar > .projects > .projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar > .projects > h1 {
    margin: 5px 10px;
    font-size: 1.3rem;
}



/* dialog section */

.addTaskDialog {
    border: 1px solid black;
    position: absolute;
    left: 15%;
    top: 10%;
    display: none;
    padding: 10px;
    background-color: pink;
    z-index: 100;
}

.sidebarContainer + .active {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 8px;
}

.sidebarContainer + .active > div {
    display: flex;
    flex-direction: column;
}

.sidebarContainer + .active > div > * {
    padding: 0 5px;
    border-radius: 5px;
}

.sidebarContainer + .active > .description > textarea {
    height: 5rem;
    padding: 0 5px;
}

.sidebarContainer + .active > .dialogButtonsContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sidebarContainer + .active > form fieldset {
    border: none;
}

.sidebarContainer + .active > .dialogButtonsContainer > button {
    width: 100px;
}
/* end of dialog section */




.main {
    width: 700px;
    color: black;
    padding: 20px;
    position: relative;
    /* overflow: hidden; */
    height: fit-content;
}

.main > .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 5px;  
}

.main > .container:hover {
    border: 1px solid;
}

.main > .container > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
    justify-self: flex-end;
}

.main > .container > input {
    margin-top: 5px;
}

.main > .container > p {
    width: 80px;
    background-color: transparent;
    border: none;
}

.main > .container > p[title="Title"] {
    width: 200px;
}

.main > .container > p[title="Due date"] {
    width: 150px;
}

.main > .expanded {
    position: absolute;
    background-color: #cdcece;
    top: 20px;
    width: 80%;
    padding: 20px;
    border-radius: 6px;
}

.main > .expanded > * {
    margin: 5px 0;
}

.main > .expanded > input {
    position: relative;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.main > .expanded > input::after {
    content: 'Checkbox';
    position: absolute;
    left: 15px;
    top: -3px;
}

.main > .expanded > img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.main > .done {
    background-color: lightgreen;
}


/* Projects */

.main > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main > header img {
    /* border: 1px solid; */
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.main > header img:hover {
    background-color: #c2c4c4;
}

@keyframes dash {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}



@media (max-width: 870px) {
    .main > .container > p[title="Time"] {
        display: none;
    }
}

@media (max-width: 780px) {
    .main > .container > p[title="Project"] {
        display: none;
    }
}

@media (max-width: 710px) {
    .main > .container > p[title="Due date"] {
        display: none;
    }
}

@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .navButton {
        display: flex;
        justify-content: space-between;
        padding: 5px 15px;
        border: 1px solid #a8a9a9;
    }

    .sidebarContainer {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 101;
        display: none;
        justify-content: flex-end;
        overflow: hidden;
    }
    
    .active {
        display: flex;
        animation: dash 1s cubic-bezier(0, 1.18, 0.58, 1);
    }

    .sidebar {
        z-index: 102;
        opacity: 1;
    }

    .sidebar > .header img {
        display: block;
    }

    .sidebar > .header h4 {
        display: none;
    }

    .main {
        
        width: 100%;
    }

    .main > .container {
        justify-content: flex-start;
    }

    .main > .container > .edit {
        margin-left: auto;
    }

    
}
